#root {
  height: 100vh;
  width: 100%;
  margin: 0vh;
  padding: 0vh;
  text-align: center;
  align-items: center;
}

.navbar{
  padding: 40px;
  border-bottom: 2px solid black;
}

#name {
  float:left;
}

#socials {
  float: right;
}

#instalogo{
  height: 1em;
  width: 1em;
}

#twitlogo{
  height: 1em;
  width: 1em;
}

.welcome{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#grad_background{
  background-image: conic-gradient(#ffce87 1deg, #ffe576 45deg, #98bffa 160deg,#ff9899 315deg, #ffce87 359deg);
}

#banner{
  padding: 1em;
  width: 80%;
  aspect-ratio: 1/1.30122591944;
  border-radius: 3em;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
