#root {
  height: 100%;
  width: 100%;
  margin: 0vh;
  padding: 0vh;
  text-align: center;
  align-items: center;
}

.navbar{
  padding-top: 1em;
  padding-bottom: 3em;
  margin: 0%;
  border-bottom: 2px solid black;
}

#name {
  float:left;
  margin-left: 5%;
}

#socials {
  float: right;
  margin-right: 5%
}

#instalogo{
  width: 1em;
  aspect-ratio: 1;
}

#twitlogo{
  width: 1em;
  aspect-ratio: 1;
}

.welcome{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  1fr;
  align-items: center;
}

#grad_background{
  align-items: center;
  background-image: conic-gradient(#ffce87 1deg, #ffe576 45deg, #98bffa 160deg,#ff9899 315deg, #ffce87 359deg);
}

#banner{
  display: block;
  margin-left:auto;
  margin-right: auto;
  padding: 5%;
  width: 80%;
  aspect-ratio: 1/1.30122591944;
  border-radius: 8%;
}

@media screen and (max-width: 800px){
  .welcome{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

#links {
  display: block;
  align-items: center;
}

#commision {
  width: 80%;
  height: 7%;
  margin: 10px;
  background-color: #ff9899;
}

#example {
  width: 80%;
  height: 7%;
  margin: 10px;
  background-color: #ffe576;
}

#tos {
  width: 80%;
  height: 7%;
  margin: 10px;
  background-color: #98bffa;
}

#test{
  width: 500px;
}

.aboutme{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  --columns: 10;
  --gridWidth: calc(1 / var(--columns) * 100vw);
  --bannerpos: 2;
  grid-template-rows: 1fr;
}


#twitBanner{
  width: 100%;
  aspect-ratio: 1322/514;
  grid-column-start: var(--bannerpos);
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 1;
}

#graphBackground{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  background-color: blue;
  border-bottom: 0 solid transparent;
  z-index: 2;
}

#graphBackgroundtri{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 0%;
  height: 0%;
  border-top: calc(var(--gridWidth) * calc(var(--columns) - var(--bannerpos) + 1) * 514 / 1332) solid transparent;
  border-left: calc(var(--gridWidth) * .5) solid blue;  
  z-index:2;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
